.x .c1-f {
    padding-bottom: 13px;
    padding-left: 92px;
}

.x .c1-5f {
    background-image: url(https://files.elfsightcdn.com/aa7e1a27-4ffb-46ca-b5a0-98b398417f22/9b834aa6-8659-4ba8-aae6-094f9fafec65/IMG_2197-442-.jpg);
    background-color: rgb(166, 103, 184);
}
